@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* header nav ul li{
    list-style: none;
} */

/* *********************************************** Header **********************************************/
header{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    align-content: flex-end;
}

.banner{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

header p span:first-child,header p span:last-child {
    color: deeppink;
}

header p span:nth-child(2),header p span:nth-child(3){
    text-decoration: underline solid 2px deeppink;
}

                        /* *************************NAV******************** */
nav{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.menu_gauche{
    display: flex;
    width: 25%;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    font-family: 'Noto Serif', serif;
    /* font-size: 1.3em; */
}

header p + ul li{
    display: inline-block;
    margin: 3px;
}

.menu_droit{
    display: flex;
    width: 35%;
    justify-content: space-between;
    padding: 20px 0;
}

.banner_menu{
    background-color: rgb(249, 252, 255);
    padding: 3px 0;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

.banner_translate{
    background-color: rgb(81, 196, 242);
    padding: 10px 5px;
    border-left: 4px solid black;
    margin: 10px 50vh;
    width: 50%;
    text-align: center;
    /* color: rgb(72, 72, 208); */
}
                                    /* ********* Images ************ */

header nav div:nth-child(2) img{
    height: 10px;
    width: 10px;
}

/************************************************* Bouton ***************************************** */
button{
    border: none;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header nav div:nth-child(2) form:last-child button:first-child{
    background-color: white;
    border: 0.5px solid black;
    /* margin: 0px; */
}

header nav div:nth-child(2) form:last-child button:last-child{
    background-color: black;
    color: white;
}

main div:first-child p{
    background-color: gainsboro;
    padding: 3px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

/*****************************************Main**************************************** */

.container{
    display: flex;
    /* background-color: brown; */
    padding: 20px;
}

main aside, main article{
    padding: 20px;
}

main h3{
    padding: 10px;
}

main h3 + p{
    padding: 5px;
}

.list_aside1{
    list-style: square;
    padding-left: 15px;
}


.list_aside2{
    list-style: none;
    padding-left: 15px;
    border-left: 0.4px solid gray;

}

.list_aside2 li, .list_aside1 li{
    padding: 3.5px;
}